<!-- start footer -->
<div class="footer_bg1">
<div class="wrap">
	<div class="footer">
		<!-- scroll_top_btn -->
	    <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
		<!--end scroll_top_btn -->
		<div class="copy contact" >
		<img class="mapAddress" src="/images/map.PNG" alt="Карта">
			<p>Контактная информация:</p>
			<p><a href="tel:+3805555555555">тел: +38 05555555555</a></p>
			<p>Наш адресс: </p>
			<p>На берегу Черного моря, второй ряд от воды, шезлонг № 12 на 14 ст. Б.Фонтана</p>
			<p><a href="mailto:email@email.com">email: email@email.com </a></p>

			<!-- <p class="link">&copy;  All rights reserved | Template by&nbsp;&nbsp;<a href="http://w3layouts.com/"> W3Layouts</a></p> -->
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>
</body>
</html>